{% extends "../base.html" %}

{% block css_link %}
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div align="center" id="site-introduction">
<!--이미지 바꿀 것!-->
	<img id="profile" src="http://cfile22.uf.tistory.com/image/24391850581302713CF5D1" width="320px">

	<h1>
			이름 : 이희웅 <br>
			나이 : 35 <br>
			성별 : 남 <br>
			특기 : 탁구 <br>
			취미 : 축구, 낚시 <br>
	</h1>

	<h2>안녕하세요. 이희웅의 Django 홈페이지에 오신 것을 환영합니다.</h2>

	<p>
	이 사이트는  웹 프로그램밍 실습과제 예제 사이트입니다.<br>
	이 사이트는 안전하지 않습니다.<br>
	중요한 비밀번호로 아이디를 생성하거나, 중요한 정보입력을 삼가해 주십시요. <br>
	본 사이트는 간단한 html 및 Django의 실습을 위해 만들어진 사이트 입니다.<br>
	계속 수정 중 입니다....<br>
	<br>
	<a href="/guestbook">방명록</a>에 글 남기기<br>
	</p>
</div>
{% endblock %}