{% extends "../base.html" %}
{% load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="board">
	<form id="search_form" action="" method="post">{% csrf_token %}
		<!--/board/find-->
		<input type="text" id="kwd" name="kwd" value="">
		<input type="submit" value="찾기">
	</form>

	<table class="tbl-ex">
		<tr>
			<th>번호</th>
			<th>제목</th>
			<th>글쓴이</th>
			<th>조회수</th>
			<th>작성일</th>
			<th>&nbsp;</th>
		</tr>

		{% for posts in posts_list %}
		<tr>
			<td>{{ posts_list.count | add:1 | sub:forloop.counter }}</td>
			<td><a href="/board/view?id={{posts.id}}">{{ posts.title }}</a></td>
			<td>{{ posts.user.name }}</td>
			<td>{{ posts.hit }}</td>
			<td>{{ posts.regdate|date:'Y-m-d H:i:s' }}</td>
			{% if request.session.authuser.email == posts.user.email %}
				<td><a href="/board/delete?id={{posts.id}}" class="del">삭제</a></td>
			{% else %}
				<td><a class="del">삭제</a></td>
			{% endif %}

		</tr>
		{% endfor %}
	</table>
	<div class="bottom" align="center">
		{% if start_index != 1 %}
			<a class="paging" href="/board?pageNum={{start_index | sub:1}}">[이전]</a>
		{% else %}
			<a class="muted">[이전]</a>
		{% endif %}

		{% for i in bottomPages %}
			{% if i == pageNum %}
				<a class="active">{{i }}</a>
			{% else %}
				<a class="not_active" href="/board?pageNum={{i }}">{{i }}</a>
			{% endif %}
		{% endfor %}

		{% if end_index < totalPageCount %}
			<a href="/board?pageNum={{end_index | add:1}}">[다음]</a>
		{% else %}
			<a class="muted">[다음]</a>
		{% endif %}
		<a href="/board/writeform" id="new-book">글쓰기</a>
	</div>
</div>
{% endblock %}